{% extends 'food/base.html' %}

{% block body %}
{% if user.is_authenticated %}
<p>Redirecting to <a href="{% url 'food' %}">new page</a>...</p>
    <script>
        window.location.href = "/food";
    </script>
{% endif %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <form action="" method="POST" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Username</label>
          <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}">
        </div>
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email</label>
          <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}">
        </div>
        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">Password</label>
          <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}">
        </div>
        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
          <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}">
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
        </div>
        <div class="text-center mt-3">
          <h3>Already have an account? <a href="{% url 'login' %}">Login</a></h3>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
